---
import { getCollection } from "astro:content";
import Layout from "../layouts/page.astro";

const blogPosts = await getCollection("blog");
---

<Layout>
  <div class="max-w-2xl mx-auto space-y-10">
    {
      blogPosts.map((post) => {
        return (
          <div class="space-y-4">
            <h2 class="font-cursive text-2xl">
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </h2>
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toDateString()}
            </time>
            <p>{post.data.description}</p>
            <a href={`/blog/${post.slug}`} class="underline block">
              read post
            </a>
          </div>
        );
      })
    }
  </div>
</Layout>
